<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    <b>Generate layout</b>
                </h2>
            </div>
            <table border=0 style="width: 100%;margin: 10px;" >
                <tr>

                    <td style="width: 22%;font-weight: bold;">
                        <table border="0" style="margin-right: 10px;">
                            <tr>
                                <td></td>
                                <td style="text-align: right;"><p style="">283.029</p></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; text-align: right;">3&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
                                        <div style="text-align: right">279.4</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: green;">852.49&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="color: blue;text-align: right">1066.8</td>
                            </tr>
                        </table>
                    </td>

                    <td style="width: 22%;font-weight: bold;">
                        <table border="0" style="margin-right: 10px;">
                            <tr>
                                <td></td>
                                <td style="text-align: right;"><p style="">325.12</p></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; text-align: right;">4&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
                                        <div style="text-align: right">298.45</div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: green;">1212.85&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="color: blue;text-align: right">1219.2</td>
                            </tr>
                        </table>
                    </td>

                    <td style="width: 22%;font-weight: bold;">
                        <table border="0" style="margin-right: 10px;">
                            <tr>
                                <td></td>
                                <td style="text-align: right;"><p style=""></p></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
                                        <div style="text-align: right"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: green;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="color: blue;text-align: right"></td>
                            </tr>
                        </table>
                    </td>

                    <td style="width: 22%;font-weight: bold;">
                        <table border="0" style="margin-right: 10px;">
                            <tr>
                                <td></td>
                                <td style="text-align: right;"><p style=""></p></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: top; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td>
                                    <div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
                                        <div style="text-align: right"></div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td style="color: green;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
                                <td style="color: blue;text-align: right"></td>
                            </tr>
                        </table>
                    </td>

                    <td><input type="text"  value="7" style="width: 80px;border: solid 1px;border-radius: 0px;border-color: gray;" /></td>
                </tr>







            </table>
            <center>
                <div class="button-demo">
                    <button type="submit" id="AddPackSlip1" class="btn btn-primary waves-effect">PRINT</button>
                </div>
            </center>
        </div>
    </div>
</div>