<table border=0 style="width: 100%;margin: 10px;" >
							
								
									
										<tr>
											
												<td style="width: 22%;font-weight: bold;">
													<table border="0" style="margin-right: 10px;">
														<tr>
															<td></td>
															<td style="text-align: right;"><p style="">304.8</p></td>
														</tr>
														<tr>
															<td style="vertical-align: top; text-align: right;">2&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td>
																<div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
																	<div style="text-align: right">431.8</div>
																</div>
															</td>
														</tr>
														<tr>
															<td style="color: green;">873.13&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td style="color: blue;text-align: right">1066.8</td>
														</tr>
													</table>
												</td>
											
												<td style="width: 22%;font-weight: bold;">
													<table border="0" style="margin-right: 10px;">
														<tr>
															<td></td>
															<td style="text-align: right;"><p style="">327.025</p></td>
														</tr>
														<tr>
															<td style="vertical-align: top; text-align: right;">5&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td>
																<div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
																	<div style="text-align: right">279.4</div>
																</div>
															</td>
														</tr>
														<tr>
															<td style="color: green;">1420.81&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td style="color: blue;text-align: right">1625.6</td>
														</tr>
													</table>
												</td>
											
												<td style="width: 22%;font-weight: bold;">
													<table border="0" style="margin-right: 10px;">
														<tr>
															<td></td>
															<td style="text-align: right;"><p style="">454.025</p></td>
														</tr>
														<tr>
															<td style="vertical-align: top; text-align: right;">5&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td>
																<div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
																	<div style="text-align: right">635.0</div>
																</div>
															</td>
														</tr>
														<tr>
															<td style="color: green;">3198.81&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td style="color: blue;text-align: right">2438.4</td>
														</tr>
													</table>
												</td>
											
												<td style="width: 22%;font-weight: bold;">
													<table border="0" style="margin-right: 10px;">
														<tr>
															<td></td>
															<td style="text-align: right;"><p style=""></p></td>
														</tr>
														<tr>
															<td style="vertical-align: top; text-align: right;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td>
																<div style="float: left; width: 50px; height: 100px; border: solid 1px; margin: 2px; border-right: solid 0px;">
																	<div style="text-align: right"></div>
																</div>
															</td>
														</tr>
														<tr>
															<td style="color: green;">&nbsp;&nbsp;&nbsp;&nbsp;</td>
															<td style="color: blue;text-align: right"></td>
														</tr>
													</table>
												</td>
											
											<td><input type="text"  value="12" style="width: 80px;border: solid 1px;border-radius: 0px;border-color: gray;" /></td>
										</tr>
									
								
							
								
									
								
							
						</table>