body {
    //background:#49CCED;
}

#header {
    //background-color: #2e363f;
    margin-top:10px;
}

#search input[type=text] {
    background-color: #fff; border-left: 1px solid #e3ebed;
}
#search input[type=text]:focus {
    color: #777777;
}
.dropdown-menu li a:hover, .dropdown-menu .active a, .dropdown-menu .active a:hover {
    color: #eeeeee;
    background:#F77825;

}
.top_message{ float:right; padding:20px 12px; position:relative; top:-13px; border-left:1px solid #3D3A37; font-size:14px; line-height:20px; *line-height:20px; color:#333; text-align:center;  vertical-align:middle; cursor:pointer; }
.top_message:hover{ background:#000}
.rightzero{ right:0px; display:none;}
@media (max-width: 480px) {
    #sidebar > a {
        background:#565656;

    }
    #sidebar > ul {
        background-color: #565656;
    }
    #user-nav{ margin:0px auto; top:-31px; border-top:none; width:250px; left:-3%; text-align:center; float:none;}
    #user-nav > ul > li:last-child{ border-right:1px solid #363E48}
    #user-nav > ul > li{ border-top:1px solid #363E48}
    #sidebar{ top:-30px;}
    #content{ margin-top:-30px;}
}
@media (min-width: 481px) and (max-width: 767px) {
    #sidebar > ul ul:before {
        border-right: 7px solid rgba(0, 0, 0, 0.2);
    }
    #sidebar > ul ul:after {
        border-right: 6px solid #222222;
    }

}
